datasets/historical_data.csv filter=lfs diff=lfs merge=lfs -text
datasets/CIC-IDS2017/Monday-WorkingHours.pcap_ISCX.csv filter=lfs diff=lfs merge=lfs -text
datasets/CIC-IDS2017/Tuesday-WorkingHours.pcap_ISCX.csv filter=lfs diff=lfs merge=lfs -text
datasets/CIC-IDS2017/Wednesday-workingHours.pcap_ISCX.csv filter=lfs diff=lfs merge=lfs -text
datasets/CIC-IDS2017/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv filter=lfs diff=lfs merge=lfs -text
datasets/CIC-IDS2017/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv filter=lfs diff=lfs merge=lfs -text
datasets/CIC-IDS2017/Friday-WorkingHours-Morning.pcap_ISCX.csv filter=lfs diff=lfs merge=lfs -text
datasets/CIC-IDS2017/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv filter=lfs diff=lfs merge=lfs -text
datasets/CIC-IDS2017/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv filter=lfs diff=lfs merge=lfs -text
